{% extends "home.html" %}
{% block title %}upload{% endblock %}
{% block body %}


  
     
    <div style=" border-radius: 100px;padding: 300px; margin-top: 50px;">&nbsp; &nbsp; 
      
    <div style="text-align: center; background-color: rgb(224, 217, 124); padding: 10px; border-radius: 50px; margin-left: 50px;">&nbsp; &nbsp; 
      <label for="fileSelect"><h2>Enter your record</h2></label>
      <input type="file" ID="fileSelect" accept=".xlsx, .xls, .csv" name="data"/><br><br>
      
      <button style="padding: 15px;background-color: rgb(48, 191, 194);border-radius: 30px;" type="submit" class="btn btn-secondary scroll-to-section">Upload</button><br><br>
  
    </div>
    
  
  </div> 
{% endblock %}